.btn{
    background-color: #004494!important;
}
.filterButtons{
    background-color: #fafbfd!important;
    
}
.row{
    margin-right: 0px!important;
    margin-left: 0px!important;

}
iframe{
    height: calc(100vh - 150px);
    overflow: hidden;
}