<div class="row h-100">
    <div class="w-25 d-none d-lg-block blue-background">
    </div>
    <div class="col-9 map-background">
        <div class="container-fluid">
            <div class="row">
                <div class="card center col-12 col-lg-6 col-xl-5 p-3 mx-auto">
                    <div class="card-header bg-transparent ">
                        <h5 class="text-center display-4">Sign in</h5>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                            <div class="row form-group bg-white">
                                <label for="email" class="col-12">Email:</label>
                                <input type="email" class="col-12 form-control" name="email" id="email" placeholder="name@example.com" formControlName="email" required>
                                <div class="valid-feedback">
                                    Completed
                                </div>
                            </div>
                            <div class="row form-group bg-white">
                                <label for="email" class="col-12">Password: </label>
                                <input type="password" class="col-12 form-control" name="password" id="password" placeholder="password" formControlName='password' required>
                            </div>
                            <div class="row form-group bg-white">
                                <p-button type="submit" class="mx-auto" label="Sign in"> </p-button>
                            </div>
                        </form>
                        <div *ngIf="errorAlert" class="alert alert-danger">
                          {{ errorMessage }}
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</div>
